<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class="container">
<h1 class="text-center">Pemesanan telah berhasil dengan data: </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id booking</th>
      <th scope="col">nik</th>
      <th scope="col">nama</th>
      <th scope="col">id keberangkatan</th>
      <th scope="col">waktu</th>
      <th scope="col">perusahaan</th>
      <th scope="col">kelas</th>
      <th scope="col">harga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td th:text="${booking.id}">Mark</td>
      <td th:text="${booking.nik}">Otto</td>
      <td th:text="${penumpang.nama}">@mdo</td>
      <td th:text="${booking.id_keberangkatan}">@mdo</td>
      <td th:text="${booking.tanggal}">@mdo</td>
      <td th:text="${perusahaan.namaPerusahaan}">@mdo</td>
      <td th:text="${keberangkatan.kelas}">@mdo</td>
      <td th:text="${keberangkatan.harga}">@mdo</td>
    </tr>
    </tbody>
</table>
</body>
</html>