<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class="container">
<h1 class="text-center">Anda telah terdaftar, dengan data berikut:</h1>
<table class="table table-hover"><tr>
      <th scope="row">NIK</th>
      <td th:text="${penumpang.nik}">Mark</td>
    </tr>
    <tr>
      <th scope="row">Nama</th>
      <td th:text="${penumpang.nama}">Jacob</td>
    </tr>
    <tr>
      <th scope="row">No Telepon</th>
      <td th:text="${penumpang.telepon}">@twitter</td>
    </tr>
	</table>
</body>
</html>